<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="<%= cssFile  %>" />
  </head>
  <body>
    <div class="modal" id="modal">
      <div class="modal_content">
        <p>Vous n'avez pas le droit au click droit</p>
      </div>
    </div>
    <div class="chat_container">
      <div class="droite" id="droite">
        <div class="user">
          <div class="titre">
            <h1>
              <img src="/images/avatar.jpeg" alt=" <%= username %>" />
              <%= username %>
            </h1>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          <% if (role === 'admin') { %>
          <form action="/admin" method="get" class="btn_admin">
            <button type="submit">
              <i class="fa-solid fa-gear"></i><span>Admin</span>
            </button>
          </form>
          <% } %>
          <form action="/logout" method="post" class="btn_user">
            <button type="submit">
              <i class="fa-solid fa-circle-user"></i><span>Déconnexion</span>
            </button>
          </form>
        </div>
        <div class="connected-users">
          <ul id="connected-user-list"></ul>
        </div>
        <div class="non-connected-users">
          <ul id="non-connected-user-list"></ul>
        </div>
      </div>
      <div class="gauche" id="zone_de_chat">
        <div id="messages"></div>
        <div id="private-messages">
          <h2 class="title_message_privée">Mode message Privée Activée</h2>
        </div>
        <form action="" id="chat-form">
          <input
            type="text"
            id="message-input"
            autocomplete="off"
            placeholder="Tapez votre message ici"
          />
          <button type="submit">&#9654;</button>
        </form>
        <form id="file-form">
          <input type="file" id="file-input" />
          <i class="fa-solid fa-paperclip" id="upload-icon"></i>
        </form>
        <form id="private-chat-form">
          <input
            type="text"
            id="private-message-input"
            placeholder="Tapez votre message privé ici"
          />
          <button type="submit">&#9654;</button>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const username = "<%= username %>";
      const PUBLIC_VAPID_KEY = "<%= PUBLIC_VAPID_KEY %>";
    </script>
    <script src="/js/chat.js"></script>
  </body>
</html>
